@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

body, html
    font-family 'Roboto', sans-serif
    font-weight 400
    font-size var(--font-size)
    margin 0 auto
    top 0
    -webkit-font-smoothing antialiased
    overflow hidden
    font-display swap