@media screen and (min-width: 640px)
  .main-container
    transform translateX(var(--menu-width))

  .main-container > .Layout
    width calc(100% - var(--menu-width))

  .Sidebar-left
    left calc(0px - var(--menu-width))

  .show-menu-label
      display none

@media screen and (max-width: 640px)
  .main-container
    transform translateX(0px) !important

  .Sidebar-left
    left calc(0px - var(--menu-width)) !important
    width var(--menu-width) !important

  .Layout
    width 100% !important
    code, p, a
      word-break break-all
    img 
      width 100%
